In [1]:
import pandas as pd
import sqlalchemy

In [83]:
overallstat = pd.read_csv("statoverall.csv")
overallstat.fillna(0,inplace=True)
overallstat.dtypes
display(overallstat)

,Rk,Season,G,MP,FG,FGA,3P,3PA,ORB,DRB,TRB,AST,PTS,FG%,3P%,ORtg
0,1,2022-23,171,242.5,41.1,88.6,12.2,34.2,10.6,33.3,44.0,25.0,112.6,0.465,0.356,112.0
1,2,2021-22,1230,241.4,40.6,88.1,12.4,35.2,10.3,34.1,44.5,24.6,110.6,0.461,0.354,112.0
2,3,2020-21,1080,241.4,41.2,88.4,12.7,34.6,9.8,34.5,44.3,24.8,112.1,0.466,0.367,112.3
3,4,2019-20,1059,241.8,40.9,88.8,12.2,34.1,10.1,34.8,44.8,24.4,111.8,0.460,0.358,110.6
4,5,2018-19,1230,241.6,41.1,89.2,11.4,32.0,10.3,34.8,45.2,24.6,111.2,0.461,0.355,110.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,1950-51,354,0.0,29.8,83.6,0.0,0.0,0.0,0.0,49.5,21.0,84.1,0.357,0.000,0.0
73,74,1949-50,561,0.0,28.2,83.1,0.0,0.0,0.0,0.0,0.0,19.6,80.0,0.340,0.000,0.0
74,75,1948-49,360,0.0,29.0,88.7,0.0,0.0,0.0,0.0,0.0,18.6,80.0,0.327,0.000,0.0
75,76,1947-48,192,0.0,27.2,96.0,0.0,0.0,0.0,0.0,0.0,7.0,72.7,0.284,0.000,0.0
76,77,1946-47,331,0.0,25.9,92.9,0.0,0.0,0.0,0.0,0.0,6.9,67.8,0.279,0.000,0.0

In [43]:
teamstat = pd.read_csv("teamstats.csv")
display(teamstat)

,Season,Lg,Team,W,L,W/L%,Finish,SRS,,Pace,Rel Pace,ORtg,Rel ORtg,DRtg,Rel DRtg,.1,Playoffs,Coaches,Top WS
0,2022-23,NBA,Brooklyn Nets,2,6,.250,5th of 5,-3.65,NaN,98.5,-1.2,112.2,0.1,119.0,6.9,NaN,NaN,"S. Nash (2-5), J. Vaughn (0-1)",K. Durant (1.1)
1,2021-22,NBA,Brooklyn Nets*,44,38,.537,4th of 5,0.82,NaN,99.0,0.8,113.6,1.6,112.8,0.8,NaN,Lost E. Conf. 1st Rnd.,S. Nash (44-38),K. Durant (8.4)
2,2020-21,NBA,Brooklyn Nets*,48,24,.667,2nd of 5,4.24,NaN,99.5,0.3,118.3,6.0,113.8,1.5,NaN,Lost E. Conf. Semis,S. Nash (48-24),K. Irving (7.4)
3,2019-20,NBA,Brooklyn Nets*,35,37,.486,4th of 5,-1.01,NaN,101.4,1.1,108.9,-1.7,109.5,-1.1,NaN,Lost E. Conf. 1st Rnd.,"K. Atkinson (28-34), J. Vaughn (7-3)",J. Allen (8.2)
4,2018-19,NBA,Brooklyn Nets*,42,40,.512,4th of 5,-0.40,NaN,100.8,0.8,109.6,-0.8,109.7,-0.7,NaN,Lost E. Conf. 1st Rnd.,K. Atkinson (42-40),J. Allen (7.6)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,1950-51,NBA,New York Knicks*,36,30,.545,3rd of 6,0.49,NaN,94.8,9.3,88.0,2.9,87.6,2.5,NaN,Lost Finals,J. Lapchick (36-30),H. Gallatin (7.6)
1658,1949-50,NBA,New York Knicks*,40,28,.588,2nd of 6,2.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lost E. Div. Finals,J. Lapchick (40-28),H. Gallatin (7.8)
1659,1948-49,BAA,New York Knicks*,32,28,.533,2nd of 6,1.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lost E. Div. Finals,J. Lapchick (32-28),B. Palmer (7.2)
1660,1947-48,BAA,New York Knicks*,26,22,.542,2nd of 4,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lost Quarterfinals,J. Lapchick (26-22),B. Palmer (7.4)
1661,1946-47,BAA,New York Knicks*,33,27,.550,3rd of 6,0.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lost Semis,N. Cohalan (33-27),O. Schectman (4.3)

In [73]:
df1=teamstat.drop(teamstat.columns[[8,15]], axis=1) #delete unnamed and NAN columns


df1.drop(['SRS','W','L', 'W/L%','Lg','Finish', 'Playoffs', 'Coaches', 'Top WS'], axis=1, inplace=True)
df1=df1[df1.Season != 'Season']
df1.fillna(0,inplace=True)

df1[['Pace', 'Rel Pace', 'ORtg', 'Rel ORtg', 'DRtg', 'Rel DRtg']]=df1[['Pace', 'Rel Pace', 'ORtg', 'Rel ORtg', 'DRtg', 'Rel DRtg']].apply(pd.to_numeric)
#print (df1[pd.to_numeric(df1.Pace, errors='coerce').isnull()])


print(df1.dtypes)
display(df1)

Season       object
Team         object
Pace        float64
Rel Pace    float64
ORtg        float64
Rel ORtg    float64
DRtg        float64
Rel DRtg    float64
dtype: object

,Season,Team,Pace,Rel Pace,ORtg,Rel ORtg,DRtg,Rel DRtg
0,2022-23,Brooklyn Nets,98.5,-1.2,112.2,0.1,119.0,6.9
1,2021-22,Brooklyn Nets*,99.0,0.8,113.6,1.6,112.8,0.8
2,2020-21,Brooklyn Nets*,99.5,0.3,118.3,6.0,113.8,1.5
3,2019-20,Brooklyn Nets*,101.4,1.1,108.9,-1.7,109.5,-1.1
4,2018-19,Brooklyn Nets*,100.8,0.8,109.6,-0.8,109.7,-0.7
...,...,...,...,...,...,...,...,...
1657,1950-51,New York Knicks*,94.8,9.3,88.0,2.9,87.6,2.5
1658,1949-50,New York Knicks*,0.0,0.0,0.0,0.0,0.0,0.0
1659,1948-49,New York Knicks*,0.0,0.0,0.0,0.0,0.0,0.0
1660,1947-48,New York Knicks*,0.0,0.0,0.0,0.0,0.0,0.0
1661,1946-47,New York Knicks*,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
df2 = df1.groupby(['Season'])[['Pace','DRtg','ORtg','Rel Pace','Rel ORtg','Rel DRtg']].mean()
df2

               Pace        DRtg        ORtg   Rel Pace  Rel ORtg  Rel DRtg
Season
1946-47    0.000000    0.000000    0.000000   0.000000  0.000000  0.000000
1947-48    0.000000    0.000000    0.000000   0.000000  0.000000  0.000000
1948-49    0.000000    0.000000    0.000000   0.000000  0.000000  0.000000
1949-50    0.000000    0.000000    0.000000   0.000000  0.000000  0.000000
1950-51   97.687500   84.650000   85.625000  12.187500  0.525000 -0.450000
...             ...         ...         ...        ...       ...       ...
2018-19  100.036667  110.403333  110.400000   0.036667  0.000000  0.003333
2019-20  100.310000  110.680000  110.500000   0.010000 -0.100000  0.080000
2020-21   99.180000  112.330000  112.353333  -0.020000  0.053333  0.030000
2021-22   98.223333  111.950000  111.973333   0.023333 -0.026667 -0.050000
2022-23   99.693333  111.976667  112.223333  -0.006667  0.123333 -0.123333

[77 rows x 6 columns]

In [84]:
df2.to_csv('teamstatEdit.csv', encoding='utf-8')
overallstat.to_csv('overallstatEdit.csv', encoding='utf-8')